<section class="section" >
  <div class="main">
    <div class="main-form">
      <form  method="GET" action="/" class="form-search" role="search">
        <div class="menu-search">
          <input type="text" name="searchInput" placeholder="Что вы ищете?" autocomplete="off" (keyup)="setValue($event)">
        </div>
        <button class="btn submit-search" type="button" id="searchsubmit" (click)="search()">
          <mat-icon aria-hidden="false">search</mat-icon>|<span>Искать</span>
        </button>
      </form>
    </div>
  </div>

</section>
<mat-card class="main-card">
  <mat-grid-list [cols]="3" [rowHeight]="200">
    <mat-grid-tile>
      <mat-card class="secondary-card">
        <mat-card-title>
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        </mat-card-title>
        <mat-card-content>
          Субъекты естественных монополий
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>Субъекты занимающие доминирующее положение</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>Тарифы на гос. услуги</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>Минимальные уровень контрольных цен</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>Разрешительные документы</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>Общие тарифы</mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<div class="main-card mat-card">
  <div class="send_question">
    <h2>Обратная связь.
      ОСТАВАЙТЕСЬ НА СВЯЗИ.</h2>
    <p>Любые вопросы можно задать нам через форму обратной связи.
      Мы ответим намного быстрее (15 минут в рабочее время),
      если для общения со Службой Поддержки вы используете внутренний чат Сервиса.
      Для этого вам необходимо предварительно зарегистрироваться и/или авторизоваться.</p>
  </div>
</div>
