<header id="main-header">
  <div class="container">

    <div class="logo" [routerLink]="['/']">
      <div class="logo__img"><img src="../assets/images/gaar_icon.png" class="lis"></div>
      <span class="logo__txt">ГОСУДАРСТВЕННОЕ АГЕНТСТВО<br>АНТИМОНОПОЛЬНОГО РЕГУЛИРОВАНИЯ<br><small>ПРИ ПРАВИТЕЛЬСТВЕ КЫРГЫЗСКОЙ РЕСПУБЛИКИ</small><br><b>АИС ГААР</b></span>
    </div>
    <div class="links">
      <mat-chip-list class="row language_translation">
        <mat-chip><span>KY</span></mat-chip>
        <mat-chip><span>RU</span></mat-chip>
        <mat-chip><span>EN</span></mat-chip>
        <mat-divider [vertical]="false" [inset]="true"></mat-divider>
        <mat-chip>F</mat-chip>
        <mat-chip>I</mat-chip>
        <mat-chip color="primary">W</mat-chip>
        <mat-chip color="accent"><a>Обратная связь</a></mat-chip>
      </mat-chip-list>
    </div>
  </div>
</header>
<nav  id="navbar">
  <div class="container">
    <ul class="nav_div">
      <li><a class="nav_text" mat-menu-item routerLink="/importedproducts">Перечень </a></li>
      <li><a class="nav_text" mat-menu-item routerLink="/importedproducts">товаров</a></li>
      <li><a class="nav_text" mat-menu-item routerLink="/importedproducts">импортируемых </a></li>
    </ul>
  </div>
</nav>
<div class="container" style="background-image:url('../../assets/images/search_background.png');">
  <router-outlet></router-outlet>
</div>

<footer class="main-card">
  <div class="logo" [routerLink]="['/']">
    <div class="logo__img"><img src="../assets/images/gaar_icon.png" class="lis"></div>
    <span class="logo__txt">ГОСУДАРСТВЕННОЕ АГЕНТСТВО<br>АНТИМОНОПОЛЬНОГО РЕГУЛИРОВАНИЯ<br><small>ПРИ ПРАВИТЕЛЬСТВЕ КЫРГЫЗСКОЙ РЕСПУБЛИКИ</small><br><b>АИС ГААР</b></span>
  </div>
</footer>
